<link href="/ejsstyle.css" rel="stylesheet" type="text/css">
<header>
     <h1>Your Purchase Dashboard</h1>
</header>
<ul>
     <% devices.forEach(function(device){ %>
       <li>
          <ul>
               <% Object.keys(device).forEach(function(key){ %>
                    <li><strong><%= key%></strong>:<%=device[key] %></li>
               <% }); %>
          </ul>
       </li>  
        <% }); %>
</ul>